/* Style the body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: left;
    background: blue;
    color: white;
    font-size: 30px;
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: right;
    background-position-y: center;
    


}

/* Page Content */

img{
    width: 200px;
    height: 220px;
    padding-bottom: 1px;   
}
.grid{
    margin-left: 270px;
    margin-right: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px; 
    align-items: center;
}
.grid>article{
    background: #FFFFFF;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
    border: 8px solid white;
    
    
    }
.container{
    width: 330px;
    height: 474px;
    padding: 15px;
    margin-top: 30px;
    
.h2{
    padding-top: 16px;
    font-family: 'Noto Sans', sans-serif;
}

.footer-content{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    } 

h2{
    padding-left: 20%;
    background-color: blue;
}




h1{
    background-color: blue;
}
/*-------Media Quaries---------*/


/* Mobile Devices */
@media only screen and (max-width: 800px){
    body{
        background-color: lightblue;
    }
}